
@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Medium.ttf') format("truetype");
}


@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
}


body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4{
    font-family: "Poppins";
}

h1{
    color: #115f9a;
}

#selectCancha{
    height: 25px;
    margin: 5px;
    border-radius: 4px;
    border: 2px solid #115f9a;
}

#btnReservar{
    margin: 20px;
    background: #115f9a;
    color: #fff;
}

.btnReTa{
    background: #8b926d;
    border-radius: 5px;
}

#myDate1{
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #115f9a;
}

#oculto{
    visibility:hidden;
}

.p{
    font-family: "OpenSans";
}
.navbar {
        padding: 5px 0;
        font-family: "Poppins";
        background-color: rgb(189, 207, 108 );
    }

.navbar ul{

    background-color: #115f9a;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 5px;
 
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    width: 150px;
    height: 40px;
    padding: 10px;    
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;

}
.navbar-default .navbar-nav > li > a:hover{
    background-color: #e7e7e7;
    color: #115f9a;
}


.intro-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #fff;
}

.canchas-section {
     height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    }

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}
.reserve-section{
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

footer{
    background-color: #115f9a;
    color: rgb(189, 207, 108 );
    text-align: center;
    padding: 5px;
}
.leyenda-footer{
    display: block;
    margin:auto;
    text-align: center;
}

.icons-container-footer{
    
    width: 40%;
    display: block;
    margin:auto;
    text-align: center;
}

.icons-container-footer a{
    display: inline-block;
    width: 20%;
    text-align: center;
    text-decoration: none;
    color: rgb(189, 207, 108 );
}

.icons-container-footer a img{
    width: 50%;
}

hr{
    width: 70px;
    height: 0.2px;
    opacity: 0.3;
    background: #000;
    border: 1px solid #000;
}
.encabezado{
  background-color:#115f9a;
  color: #fff;
}

/** dispositivos grandes **/
@media only screen and (min-width : 1200px) {
     .canchas-section{

    height: auto;
    padding-top: 110px;
}

.contact-section{
   height: auto;
    padding-top: 110px; 
}
.reserve-section{
   height: auto;
    padding-top: 110px; 

}
.intro-section{
     height: auto;
    padding-top: 110px;
}


#contact{
    text-align: center;
    color: #000;
    padding: 20px 0;
}

#contact form{
    margin: auto;
    display: inline-block;
    width: 95%;
}
#contact form input{
    margin: 5px;
}
 #contact h3{
    padding-top: 1%;
    font-size: 20px;
 }

.nombre{
    text-align: left;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 30%;
    height: 40px;
}
 
.caja{
    text-align: center;
     border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 62.5%;
    height: 120px;
}

#btn-send{
     background-color: #115f9a;
    color: rgb(189, 207, 108);
    margin-top: 1%;
}

h3{
    font-size: 20px;
}

}

@media only screen and (max-width : 1199px) and (min-width: 768px){
     .canchas-section{

    height: auto;
    padding-top: 110px;
}

.contact-section{
   height: auto;
    padding-top: 110px; 
}
.reserve-section{
   height: auto;
    padding-top: 110px; 

}
.intro-section{
     height: auto;
    padding-top: 110px;
}



}
/** dispositivos medios **/
@media only screen and (max-width : 767px) and (min-width: 481px){

.navbar-default .navbar-nav > li > a {
    width: 98%;
}


.icons-container-footer{
    
    margin-top: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;   
    
    
}

.icons-container-footer a{
    display: inline-block;
    width: 15%; 
    text-decoration: none;
 
}
 .canchas-section{

    height: auto;
    padding-top: 110px;
}

.contact-section{
   height: auto;
    padding-top: 110px; 
}
.reserve-section{
   height: auto;
    padding-top: 110px; 

}
.intro-section{
     height: auto;
    padding-top: 110px;
}



#contact{
    text-align: center;
    color: #000;
    padding: 20px 0;
}

#contact form{
    margin: auto;
    display: inline-block;
    width: 100%;
}
#contact form input{
    margin: 1px;
}
 
.nombre{
    text-align: left;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 29.5%;
    height: 30px;
}
 
.caja{
    text-align: center;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 60%;
    height: 80px;
}

#btn-send{
    background-color: #115f9a;
    color: rgb(189, 207, 108);
    margin-top: 1%;
}
h3{
    font-size: 15px;
}

}

/** dispositivos pequeños **/

@media only screen and (max-width : 480px){


.navbar-default .navbar-nav > li > a {
    width: 90%;
}

.icons-container-footer{
    
    margin-top: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;   
    
    
}

.icons-container-footer a{
    display: inline-block;
    width: 25%; 
    text-decoration: none;
 
}
 .canchas-section{

    height: auto;
    padding-top: 110px;
}

.contact-section{
   height: auto;
    padding-top: 110px; 
}
.reserve-section{
   height: auto;
    padding-top: 110px; 

}
.intro-section{
     height: auto;
    padding-top: 110px;
}

    h1{
        font-size: 28px;
    }
    
    article{
        margin-top: 20px;
        padding: 10px;
    }



#contact{
    text-align: center;
    color: #000;
    padding: 20px 0;
}

#contact form{
    margin: auto;
    display: inline-block;
    width: 100%;
}
#contact form input{
    margin: 1px;
}
 
.nombre{
    text-align: left;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 48%;
    height: 30px;
}
 
.caja{
    text-align: center;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 98%;
    height: 80px;
}

#btn-send{
    background-color: #115f9a;
    color: rgb(189, 207, 108);
    margin-top: 1%;
}
h3{
    font-size: 15px;
}



}

@media only screen and (max-width : 321) and (min-width: 100px) {



.navbar-default .navbar-nav > li > a {
    width: 90%;
    
}

.icons-container-footer{
    
    margin-top: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;   
    
}

.icons-container-footer a{
    display: inline-block;
    width: 30%; 
    text-decoration: none;
 
}
 .canchas-section{

    height: auto;
    padding-top: 110px;
}

.contact-section{
   height: auto;
    padding-top: 110px; 
    background-color: #C57A7A;
}
.reserve-section{
   height: auto;
    padding-top: 110px; 

}
.intro-section{
     height: auto;
    padding-top: 110px;
}
    
    h1{
        font-size: 28px;
    }
    
    article{
        margin-top: 20px;
        padding: 10px;
    }



#contact{
    text-align: center;
    color: #000;
    padding: 20px 0;
}

#contact form{
    margin: auto;
    display: inline-block;
    width: 100%;
}
#contact form input{
    margin: 1px;
}
 
.nombre{
    text-align: left;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 48%;
    height: 30px;
}
 
.caja{
    text-align: center;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 2%;
    width: 98%;
    height: 80px;
}

#btn-send{
    background-color: #115f9a;
    color: rgb(189, 207, 108);
    margin-top: 2%;
}
h3{
    font-size: 15px;
    margin-top: 18px;
}

}


