
@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Medium.ttf') format("truetype");
}


@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
}


body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4{
    font-family: "Poppins";
}

h1{
    color: #115f9a;
}

#selectCancha{
    height: 25px;
    margin: 5px;
    border-radius: 4px;
    border: 2px solid #115f9a;
}

#btnReservar{
    margin: 20px;
    background: #115f9a;
    color: #fff;
}

.btnReTa{
    background: #8b926d;
    border-radius: 5px;
}

#myDate1{
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #115f9a;
}

#oculto{
    visibility:hidden;
}

.p{
    font-family: "OpenSans";
}
.navbar {
        padding: 5px 0;
        font-family: "Poppins";
        background-color: rgb(189, 207, 108 );
    }

.navbar ul{

    background-color: #115f9a;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 5px;
 
}

.comboReto{
    padding: 20px;
    width: 100%;
    color: gray;
    border: 2px solid #BDCF6C;
    margin-bottom: 5%;
}

.check{
    margin: 30px;
    font-size: 20px;
    color: gray;
}


.navbar-default .navbar-nav > li > a {
    color: #fff;
    width: 150px;
    height: 40px;
    padding: 10px;    
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;

}
.navbar-default .navbar-nav > li > a:hover{
    background-color: #e7e7e7;
    color: #115f9a;
}


.intro-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #fff;
}

.canchas-section {
     height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    }

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}
.reserve-section{
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

footer{
    background-color: #115f9a;
    color: rgb(189, 207, 108 );
    text-align: center;
    padding: 5px;
}
.leyenda-footer{
    display: block;
    margin:auto;
    text-align: center;
}

.icons-container-footer{
    
    width: 40%;
    display: block;
    margin:auto;
    text-align: center;
}

.icons-container-footer a{
    display: inline-block;
    width: 20%;
    text-align: center;
    text-decoration: none;
    color: rgb(189, 207, 108 );
}

.icons-container-footer a img{
    width: 50%;
}

hr{
    width: 70px;
    height: 0.2px;
    opacity: 0.3;
    background: #000;
    border: 1px solid #000;
}
.encabezado{
  background-color:#115f9a;
  color: #fff;
}

.login-title{
    margin-bottom: 10%;
}

.login-content{
    margin-bottom: 5%;
    margin-top: 5%;
    height: 80%;
    width: 70%;
    
    text-align: center;
    border-radius: 31px 31px 31px 31px;
    -moz-border-radius: 31px 31px 31px 31px;
    -webkit-border-radius: 31px 31px 31px 31px;
    border: 20px solid #115f9a;
}
.campos-container{
    margin-top: 4%;
}
.campos{

height: 60px;
color: blue;
border: 2px solid #BDCF6C;
margin-bottom: 5%;
}

.camposEstandar{

height: 30px;
border: 2px solid #BDCF6C;
margin-bottom: 5%;
}
.btn-login{
    width: 40%;
    background-color: #115f9a;
    font-size: 20px;
}


.principal-content{
    margin-bottom: 5%;
    margin-top: 5%;
    min-height: 100%;
    width: 100%;    
    text-align: center;

    
    
}

.btn-principal{

    
    background-color: #115f9a;
    font-size: 2em;
    padding: 10px;
    color: #fff;
    border-radius: 31px 31px 31px 31px;
    border: solid 2px;
    margin-bottom: 10%;
    height: 10%;
    text-decoration: none;

}

.principal-content a:hover{
    text-decoration: none;
    color: #fff;
    border: solid 5px #BDCF6C;

}

.btn-salir{

    font-size: 2em;
    background-color: red;
    padding: 10px;
    color: #fff;
    border-radius: 31px 31px 31px 31px;
    border: solid 2px red;
    margin-bottom: 30%;

}

.principal-content img{

    width: 64px;
}

.registro-content{
    margin-bottom: 5%;
    margin-top: 5%;
    min-height: 100%;
    width: 70%;
    text-align: center;
}



.registro-content h1, .registro-content h3{
    margin-bottom: 8%;
}

/*** SEECION PANTALLA PRINCIPAL EQUIPOS ***/
.principal-equipos{
    padding-top: 10%;
    min-height: 100%;
    text-align: center;
}


table {
    
    margin-top: 5%;
    text-align: left;
}

table tbody td a{
    margin-right: 25px;
}
.botones-equipos-container{
    width: 100%;    
    margin-top: 5px;

}

.botones-equipos-container .btn-agregar, .botones-equipos-container .btn-salir-standard{
    
    float: right;
    margin: 5px;
}
.btn-agregar{
    display: inline-block;
    color: #fff;
    background-color: #115f9a;

}

.btn-agregar:hover{
    color: #115f9a !important;
    border: 2px #115f9a solid;
    background-color: #fff;
}
.btn-salir-standard{
    display: inline-block;
    color: #fff;
    background-color: #EA2626;    
}

.btn-salir-standard:hover{
color: #EA2626;
background-color: #fff;
border: 2px #EA2626 solid;
}

.btn-volver-principal{
    
    margin-left: 5px;
}

thead{
    background-color: #115f9a;
    color: #fff;
}
/** dispositivos grandes **/
@media only screen and (min-width : 1200px) {
     .canchas-section{

    height: auto;
    padding-top: 110px;
}

.contact-section{
   height: auto;
    padding-top: 110px; 
}
.reserve-section{
   height: auto;
    padding-top: 110px; 

}
.intro-section{
     height: auto;
    padding-top: 110px;
}


#contact{
    text-align: center;
    color: #000;
    padding: 20px 0;
}

#contact form{
    margin: auto;
    display: inline-block;
    width: 95%;
}
#contact form input{
    margin: 5px;
}
 #contact h3{
    padding-top: 1%;
    font-size: 20px;
 }

.nombre{
    text-align: left;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 30%;
    height: 40px;
}
 
.caja{
    text-align: center;
     border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 62.5%;
    height: 120px;
}

#btn-send{
     background-color: #115f9a;
    color: rgb(189, 207, 108);
    margin-top: 1%;
}

h3{
    font-size: 20px;
}



}

@media only screen and (max-width : 1199px) and (min-width: 768px){
     .canchas-section{

    height: auto;
    padding-top: 110px;
}

.contact-section{
   height: auto;
    padding-top: 110px; 
}
.reserve-section{
   height: auto;
    padding-top: 110px; 

}
.intro-section{
     height: auto;
    padding-top: 110px;
}


.login-content{

    width: 100%;    
    
}

.campos-container{
    margin-top: 3%;
}



.btn-login{
    width: 50%;
    background-color: #115f9a;
    font-size: 1em;
}
.btn-registro{
    background-color: #115f9a;
}


}
/** dispositivos medios **/
@media only screen and (max-width : 767px) and (min-width: 481px){

.navbar-default .navbar-nav > li > a {
    width: 98%;
}


.icons-container-footer{
    
    margin-top: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;   
    
    
}

.icons-container-footer a{
    display: inline-block;
    width: 15%; 
    text-decoration: none;
 
}
 .canchas-section{

    height: auto;
    padding-top: 110px;
}

.contact-section{
   height: auto;
    padding-top: 110px; 
}
.reserve-section{
   height: auto;
    padding-top: 110px; 

}
.intro-section{
     height: auto;
    padding-top: 110px;
}



#contact{
    text-align: center;
    color: #000;
    padding: 20px 0;
}

#contact form{
    margin: auto;
    display: inline-block;
    width: 100%;
}
#contact form input{
    margin: 1px;
}
 
.nombre{
    text-align: left;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 29.5%;
    height: 30px;
}
 
.caja{
    text-align: center;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 60%;
    height: 80px;
}

#btn-send{
    background-color: #115f9a;
    color: rgb(189, 207, 108);
    margin-top: 1%;
}
h3{
    font-size: 15px;
}


.principal-content{

    margin-top: 50px;
    display: block;

}
.btn-principal{

    
    background-color: #115f9a;
    font-size: 1.5em;
    padding: 5px;
    color: #fff;
    border-radius: 31px 31px 31px 31px;
    border: solid 2px;
    margin-bottom: 2%;
    max-height: 80px;
    text-decoration: none;
    text-align: center;

}

.principal-content img{

    width: 50px;
}


.login-content{

    width: 100%;    
    
}
.campos-container{
    margin-top: 4%;
}



.btn-login{
    width: 50%;
    background-color: #115f9a;
    font-size: 1em;
}


.login-content img{

}



}

/** dispositivos pequeños **/

@media only screen and (max-width : 480px){


.navbar-default .navbar-nav > li > a {
    width: 90%;
}

.icons-container-footer{
    
    margin-top: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;   
    
    
}

.icons-container-footer a{
    display: inline-block;
    width: 25%; 
    text-decoration: none;
 
}
 .canchas-section{

    height: auto;
    padding-top: 110px;
}

.contact-section{
   height: auto;
    padding-top: 110px; 
}
.reserve-section{
   height: auto;
    padding-top: 110px; 

}
.intro-section{
     height: auto;
    padding-top: 110px;
}

    h1{
        font-size: 28px;
    }
    
    article{
        margin-top: 20px;
        padding: 10px;
    }



#contact{
    text-align: center;
    color: #000;
    padding: 20px 0;
}

#contact form{
    margin: auto;
    display: inline-block;
    width: 100%;
}
#contact form input{
    margin: 1px;
}
 
.nombre{
    text-align: left;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 48%;
    height: 30px;
}
 
.caja{
    text-align: center;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 98%;
    height: 80px;
}

#btn-send{
    background-color: #115f9a;
    color: rgb(189, 207, 108);
    margin-top: 1%;
}
h3{
    font-size: 15px;
}


.principal-content{

    margin-top: 50px;
    font-size: 10px;
}


.principal-content img{

    width: 24px;
}

.login-content{

    width: 100%;    
    
}
.campos-container{
    margin-top: 4%;
    width: 100%;
}
.imagen-container{
    width: 100%;
}
.login-content img{
    max-width: 200px;
}



.btn-login{
    width: 50%;
    background-color: #115f9a;
    font-size: 1em;
}


.registro-content{
    
    width: 100%;
    padding-top: 10%;

    
}

    /****** CODIGO PARA TABLAS EN VERSION MOBILE   ***************/
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50% !important; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    /*
    Label the data
    */
    .tabla-equipos td:nth-of-type(1):before { content: "Nombre Equipo"; }
    .tabla-equipos  td:nth-of-type(2):before { content: "Cant.Int"; }
    .tabla-equipos  td:nth-of-type(3):before { content: "Encargado"; }
    .tabla-equipos  td:nth-of-type(4):before { content: "Número"; }
    .tabla-equipos  td:nth-of-type(5):before { content: "Acción"; }

    .tabla-reto td:nth-of-type(1):before { content: "Hora"; }
    .tabla-reto  td:nth-of-type(2):before { content: "Equipo"; }
    .tabla-reto  td:nth-of-type(3):before { content: "Encargado"; }
    .tabla-reto  td:nth-of-type(4):before { content: "Número"; }
    .tabla-reto  td:nth-of-type(5):before { content: "Acción"; }
    
}




}

@media only screen and (max-width : 321) and (min-width: 100px) {



.navbar-default .navbar-nav > li > a {
    width: 90%;
    
}

.icons-container-footer{
    
    margin-top: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;   
    
}

.icons-container-footer a{
    display: inline-block;
    width: 30%; 
    text-decoration: none;
 
}
 .canchas-section{

    height: auto;
    padding-top: 110px;
}

.contact-section{
   height: auto;
    padding-top: 110px; 
    background-color: #C57A7A;
}
.reserve-section{
   height: auto;
    padding-top: 110px; 

}
.intro-section{
     height: auto;
    padding-top: 110px;
}
    
    h1{
        font-size: 28px;
    }
    
    article{
        margin-top: 20px;
        padding: 10px;
    }



#contact{
    text-align: center;
    color: #000;
    padding: 20px 0;
}

#contact form{
    margin: auto;
    display: inline-block;
    width: 100%;
}
#contact form input{
    margin: 1px;
}
 
.nombre{
    text-align: left;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 1%;
    width: 48%;
    height: 30px;
}
 
.caja{
    text-align: center;
    border-style: solid;
    border-color: rgb(189, 207, 108 );
    padding: 2%;
    width: 98%;
    height: 80px;
}

#btn-send{
    background-color: #115f9a;
    color: rgb(189, 207, 108);
    margin-top: 2%;
}
h3{
    font-size: 15px;
    margin-top: 18px;
}

}


